.entryBackgroundDiv {
  position: relative;
  width: 100%;
  height: 60svh;
  background-image: url(../../assets/bare-lifting.avif);
  background-position: center;
}
.entryBackgroundFade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to bottom, #ffffff00, #ffffff);
}
.entryContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40svh;
  padding: 20px;
}
.stackedHeading {
  position: relative;
  margin-bottom: 10px;
}
.stackedHeading span {
  display: block;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.highlight {
  position: absolute;
  bottom: 55px;
  left: 20px;
  z-index: -1;
  height: 25px;
  width: 240px;
  background-color: var(--primary-color);
}
.subheading {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.btnSecondary {
  padding: 20px 100px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 20px;
  color: var(--white-primary);
  background-color: var(--black-primary);
}

@media (min-width: 768px) {
  .entryBackgroundDiv {
    background-image: url(../../assets/bare-running.webp);
    background-position: center;
  }
}
