.container {
  min-height: 100vh;
}

.heroImage {
  position: relative;
  width: 100%;
  height: 60svh;
  background-image: url(@/assets/bare-lifting.avif);
  background-position: center;
}

.fadeOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to bottom, #ffffff00, #ffffff);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40svh;
  padding: 1.25rem;
}

.stackedHeading {
  position: relative;
  margin-bottom: 0.625rem;
}

.stackedHeading span {
  display: block;
  text-align: center;
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight);
  color: var(--color-black);
}

.highlight {
  position: absolute;
  bottom: 3.5rem;
  left: 0.6rem;
  z-index: -1;
  height: 1.8rem;
  width: 16.5rem;
  background-color: var(--color-brand-base);
}

.subheading {
  text-align: center;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}

.btnSecondary {
  padding: 1.25rem 6.25rem;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: var(--font-size-md);
  color: var(--color-white);
  background-color: var(--color-black);
}

@media (min-width: 768px) {
  .heroImage {
    background-image: url(@/assets/bare-running.webp);
    background-position: center;
  }
}
