.container {
  min-height: 100vh;
  padding-bottom: 3.75rem;
  background-color: var(--color-bg-primary);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem 2rem 2rem;
}

.info h2 {
  font-size: var(--font-size-md);
}

.info p {
  font-size: var(--font-size-xs);
}
