.tabGroup {
  display: flex;
  flex-direction: row;
}

.tab {
  width: 50%;
  padding: 1.5rem 0;
  border: none;
  border-bottom: 3px solid var(--color-bg-secondary);
  text-align: center;
  font-weight: var(--font-weight-bold);
  color: var(--color-text-secondary);
  background-color: var(--color-black);
}

.activeTab {
  width: 50%;
  padding: 1.5rem 0;
  border: none;
  border-bottom: 3px solid var(--color-brand-base);
  text-align: center;
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
  background-color: var(--color-black);
}
