.cardLink {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 2rem 0;
  background-color: var(--color-bg-primary);
}

.clubLogo {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.placeholder {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  padding: 0.25rem;
  border-radius: 4px;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
}

.clubText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-text-primary);
}

.clubName {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.memberCount {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--font-size-sm);
}

.membersIcon {
  font-size: var(--font-size-sm);
}

.cta {
  color: var(--color-text-secondary);
}
