.container {
  min-height: 100vh;
  padding-bottom: 3.75rem;
  background-color: var(--color-bg-primary);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0;
}

.user {
  display: flex;
  flex-direction: column;
  color: var(--color-text-primary);
}

.userKeyInfo {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 0;
}

.avatar {
}

.name {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.location {
  margin-bottom: 0.25rem;
}

.mainStats {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.keyValue {
  display: flex;
  flex-direction: column;
}

.userBio {
  padding: 1rem 0;
}

.profileInteraction {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.editBtn {
  width: 50%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: var(--font-size-xs);
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
}

.logout {
  width: 50%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: var(--font-size-xs);
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
}

.following {
  width: 50%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: var(--font-size-xs);
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
}

.follow {
  width: 50%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: var(--font-size-xs);
  color: var(--color-text-primary);
  background-color: var(--color-brand-base);
}

.message {
  width: 50%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: var(--font-size-xs);
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
}

.photos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
  color: var(--color-text-primary);
}

.picturesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.clubs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--color-text-primary);
}
