.container {
  min-height: 100vh;
  background-color: var(--color-bg-primary);
  padding-bottom: 88px;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--color-bg-secondary);
  z-index: 10;
}

.headerTitle {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-primary);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
