.container {
  min-height: 100vh;
  padding-bottom: 3.75rem;
  background-color: var(--color-bg-primary);
}

.content {
  display: flex;
  flex-direction: column;
}

.pictures {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem 0;
}

.picturesTitle {
  font-size: var(--font-size-sm);
}

.picturesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.emptyState {
  font-size: var(--font-size-xs);
}
