.container {
  min-height: 100vh;
  padding-bottom: 3.75rem;
  background-color: var(--color-bg-primary);
}

.content {
  display: flex;
  flex-direction: column;
}

.pictures {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem 0;
}

.picturesTitle {
  font-size: var(--font-size-sm);
}

.picturesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.morePicturesSquare {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-bg-secondary);
  border-radius: 8px;
  background-color: var(--color-bg-tertiary);
  cursor: pointer;
  transition: background-color 0.2s;
}

.morePicturesSquare span {
  font-size: var(--font-size-sm);
  font-weight: bold;
}

.morePicturesSquare:hover {
  background-color: var(--color-bg-secondary);
}

.emptyState {
  font-size: var(--font-size-xs);
}
