.createClubBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-bottom: 2px solid var(--color-bg-secondary);
}

.createClubText {
  font-size: var(--font-size-xs);
}

.createClubButton {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-brand-base);
  border-radius: 99px;
  font-size: var(--font-size-xxs);
  color: var(--color-brand-base);
  background-color: var(--color-bg-primary);
}
