.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.resultItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.infoPrimary {
  font-size: var(--font-size-xs);
}

.infoSecondary {
  font-size: var(--font-size-xxs);
}

.actionButton {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-brand-base);
  border-radius: 99px;
  font-size: var(--font-size-xxs);
  color: var(--color-brand-base);
  background-color: var(--color-bg-primary);
}
