.loginHeading {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}
.label {
  margin-bottom: 5px;
}
.inputField {
  padding: 10px 15px;
  margin-bottom: 20px;
}
.checkboxField {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
.btnSecondary {
  padding: 10px 50px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: var(--white-primary);
  background-color: var(--black-primary);
}
.btnSecondary:hover {
  cursor: pointer;
}
.link {
  font-weight: 700;
  color: var(--black-primary);
}

@media (min-width: 768px) {
  .loginForm {
    width: 40%;
  }
}
