.container {
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
}

.heading {
  margin: 4rem 0 2rem;
  text-align: center;
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.label {
  margin-bottom: 0.5rem;
}

.inputField {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}

.checkboxField {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.btnPrimary {
  padding: 0.75rem 2.5rem;
  border-radius: 4px;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-brand-base);
}

.btnSecondary {
  padding: 0.75rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  text-align: center;
  text-decoration: none;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  background-color: var(--color-black);
}

.btnSecondary:hover {
  cursor: pointer;
}

.link {
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

/* ERROR */
.errorText {
  color: red;
}

@media (min-width: 768px) {
  .header {
    padding: 0.875rem 0.625rem;
  }
  .loginForm {
    width: 40%;
  }
}
