.container {
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 14px 14px;
}

.heading {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}

.label {
  margin-bottom: 5px;
}

.inputField {
  padding: 10px 15px;
  margin-bottom: 20px;
}

.checkboxField {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.btnPrimary {
  padding: 12px 40px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-brand-base);
}

.btnSecondary {
  padding: 10px 50px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-black);
}

.btnSecondary:hover {
  cursor: pointer;
}

.link {
  font-weight: 700;
  color: var(--color-black);
}

/* ERROR */
.errorText {
  color: red;
}

@media (min-width: 768px) {
  .header {
    padding: 14px 100px;
  }
  .loginForm {
    width: 40%;
  }
}
