.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.75rem 0 1.25rem;
  background-color: var(--color-bg-secondary);
}

.bottomNavLink svg {
  font-size: var(--font-size-lg);
  color: var(--color-text-primary);
}
