.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding: 1rem 0 1.5rem;

  background-color: var(--color-bg-secondary);
}
.bottomNavLink svg {
  font-size: 24px;
  color: var(--color-text-primary);
}
