.bottomNav {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding: 2rem 0;

  background-color: var(--color-bg-secondary);
}
.bottomNavLink {
  height: 24px;
  width: 24px;
  color: var(--color-text-primary);
}
