.skeletonPicturesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.skeletonPicture {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  background: linear-gradient(90deg, #1f1f1f 8%, #2a2a2a 18%, #1f1f1f 33%);
  background-size: 200% 100%;
  animation: shimmer 1.5s linear infinite;
  border-radius: 4px;
}

@keyframes shimmer {
  to {
    background-position-x: -200%;
  }
}
