.homeHeader {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 5rem;

  display: flex;
  align-items: end;
  justify-content: center;

  padding: 0.5rem;
  background-color: var(--color-bg-secondary);
}
.homeHeaderText {
  font-size: 16px;
  color: var(--color-text-primary);
}
.homeContent {
  padding: 1rem 0;
  background-color: var(--color-bg-primary);
}
.homePost {
  background-color: var(--color-bg-secondary);
}
