.card {
  background-color: #333333;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.wasThereBtn {
  margin-left: auto; /* Pushes button to the right */
  background-color: #e53935;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 700;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  padding: 12px 0;
  text-align: center;
}

.statItem span {
  display: block;
  font-size: 10px;
  color: #999;
  text-transform: uppercase;
}

.statItem strong {
  font-size: 16px;
}

.homeHeader {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 5rem;

  display: flex;
  align-items: end;
  justify-content: center;

  padding: 0.5rem;
  background-color: var(--color-bg-secondary);
}
.homeHeaderText {
  font-size: 16px;
  color: var(--color-text-primary);
}
.homeContent {
  padding: 1rem 0;
  background-color: var(--color-bg-primary);
}
.homePost {
  background-color: var(--color-bg-secondary);
}
