.container {
  min-height: 100vh;
  padding-bottom: 3.75rem;
  background-color: var(--color-bg-primary);
}

.clubBanner {
  width: 100%;
  aspect-ratio: 3/1;
  background-color: var(--color-brand-base);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
}
