.container {
  min-height: 100vh;
  padding-bottom: 3.75rem;
  background-color: var(--color-bg-primary);
}

.clubBanner {
  width: 100%;
  aspect-ratio: 3/1;
  background-color: var(--color-brand-base);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--color-text-primary);
}

.clubInfo {
  padding: 1rem 1rem 0;
}

.clubLogo {
  position: absolute;
  top: -2rem;
  z-index: 99;
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.placeholder {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  padding: 0.25rem;
  border-radius: 4px;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
}

.clubName {
  padding: 1.5rem 0 0;
}

.memberCount {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--font-size-xs);
}

.membersIcon {
  font-size: var(--font-size-sm);
}

.description {
  padding: 1rem 0;
}

.leave {
  width: 30%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: var(--font-size-xs);
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
}

.join {
  width: 30%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: var(--font-size-xs);
  color: var(--color-text-primary);
  background-color: var(--color-brand-base);
}

.tabContainer {
  display: flex;
  background-color: var(--color-bg-secondary);
  padding: 4px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.tab,
.activeTab {
  flex: 1;
  padding: 8px 0;
  border: none;
  border-radius: 8px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-wight-bold);
  cursor: pointer;
  transition: all 0.2s ease;
}

.tab {
  background-color: transparent;
  color: var(--color-text-secondary);
}

.activeTab {
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.events {
  padding: 2rem 1rem 0;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.eventCard {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding: 0.5rem;
  border-radius: 12px;
  background-color: var(--color-bg-secondary);
}

.calendarIcon {
  min-width: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--color-bg-tertiary);
  border-radius: 8px;
  background-color: var(--color-black);
}

.upcomingMonth {
  width: 100%;
  padding: 0.125rem 0;
  text-align: center;
  font-size: var(--font-size-sm);
  font-weight: var(--font-wight-bold);
  text-transform: uppercase;
  color: var(--color-text-primary);
  background-color: var(--color-brand-base);
}

.pastMonth {
  width: 100%;
  padding: 0.125rem 0;
  text-align: center;
  font-size: var(--font-size-sm);
  font-weight: var(--font-wight-bold);
  text-transform: uppercase;
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
}

.day {
  padding-top: 0.25rem;
  font-size: var(--font-size-lg);
  font-weight: var(--font-wight-bold);
  line-height: 1;
  color: var(--color-text-primary);
}

.weekday {
  padding-bottom: 0.25rem;
  font-size: var(--font-size-xs);
  color: #888;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.eventTitle {
  margin: 0 0 0.24rem 0;
  font-size: var(--font-size-sm);
  color: var(--color-text-primary);
}

.detailRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #aaa;
  font-size: var(--font-size-xs);
}

.icon {
  font-size: var(--font-size-sm);
}

.address {
  max-width: 12.5rem;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.posts {
  padding: 0 1rem;
}

.clubMembers {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 1rem 0;
}

.membersContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.memberCard {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.memberAvatar {
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}
