.searchBarWrapper {
  padding: 1rem;
}

.searchInput {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-tertiary);
}
