* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-text-primary);
  font-family: var(--font-family-inter);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-inter);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
}

p {
  line-height: var(--line-height-base);
  color: var(--color-text-primary);
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

:root {
  --color-brand-base: #e53a3a;
  --color-brand-tint: #e64c4c;
  --color-brand-shade: #c53030;

  --color-bg-primary: #121212;
  --color-bg-secondary: #1f1f1f;
  --color-bg-tertiary: #2c2c2c;

  --color-text-primary: #e3e3e3;
  --color-text-secondary: #919191;
  --color-text-tertiary: #dadada;

  --color-black: #000000;
  --color-white: #ffffff;

  --font-size-xxs: 0.75rem; /* 12px */
  --font-size-xs: 0.875rem; /* 14px */
  --font-size-sm: 1rem; /* 16px */
  --font-size-md: 1.25rem; /* 20px */
  --font-size-lg: 1.5rem; /* 24px */
  --font-size-xl: 2rem; /* 32px */
  --font-size-xxl: 2.5rem; /* 40px */
  --font-size-xxxl: 3rem; /* 48px */
  --font-size-display: 3.875rem; /* 62px */

  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;

  --line-height-tight: 1.2; /* headers */
  --line-height-base: 1.5; /* descriptions */

  --letter-spacing-normal: 0;
  --: -0.01em;

  --font-family-inter: "Inter", sans-serif;
}
