/* ---------- GLOBAL RESET ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- COLORS ---------- */
:root {
  --color-brand-base: #e53a3a;
  --color-brand-tint: #e64c4c;
  --color-brand-shade: #c53030;

  --color-bg-primary: #121212;
  --color-bg-secondary: #1f1f1f;

  --color-text-primary: #e3e3e3;
  --color-text-secondary: #919191;

  --color-black: #000000;
  --color-white: #ffffff;
}

/* ---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
IBM Plex Mono

*/
