/* ---------- GLOBAL RESET ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- COLORS ---------- */
:root {
  --primary-color: #e53a3a;
  --primary-tint: #e64c4c;
  --primary-shade: #c53030;
  --black-primary: #000000;
  --white-primary: #ffffff;
}

/* ---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
IBM Plex Mono

*/
