* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-brand-base: #e53a3a;
  --color-brand-tint: #e64c4c;
  --color-brand-shade: #c53030;

  --color-bg-primary: #121212;
  --color-bg-secondary: #1f1f1f;

  --color-text-primary: #e3e3e3;
  --color-text-secondary: #919191;

  --color-black: #000000;
  --color-white: #ffffff;

  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 1rem; /* 16px */
  --font-size-md: 1.25rem; /* 20px */
  --font-size-lg: 1.5rem; /* 24px */
  --font-size-xl: 2rem; /* 32px */
  --font-size-xxl: 2.5rem; /* 40px */
  --font-size-xxxl: 3rem; /* 48px */
  --font-size-display: 3.875rem; /* 62px */

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --line-height-tight: 1.2;
  --line-height-base: 1.5;

  --letter-spacing-normal: 0;
  --letter-spacing-tight: -0.125rem; /* -2px / 16 */

  --font-family-mono: "IBM Plex Mono", monospace;
}
