.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 1.5rem 1rem 1rem;
  background-color: var(--color-bg-secondary);
  z-index: 10;
}

.createButton {
  justify-self: start;
  border: none;
  font-size: var(--font-size-lg);
  color: var(--color-text-primary);
  background: none;
}

.headerTitle {
  justify-self: center;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
}

.headerProfileLink {
  text-decoration: none;
}

.profileImg,
.profileInitial {
  justify-self: end;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.profileInitial {
  background-color: var(--color-brand-base);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-bold);
}

.dropdownMenu {
  position: fixed;
  top: 4.75rem;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
  border-radius: 5px;
  background-color: var(--color-bg-secondary);
}

.dropdownMenu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-sm);
  text-decoration: none;
  color: var(--color-text-primary);
}
