.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 14px 14px;
}
.btnPrimary {
  padding: 12px 40px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-brand-base);
}

@media (min-width: 768px) {
  .header {
    padding: 14px 100px;
  }
}
