.clubs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem 0;
  color: var(--color-text-primary);
}

.clubsTitle {
  font-size: var(--font-size-sm);
  margin-bottom: 1rem;
}

.clubsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem;
}

.clubCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.clubImage {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 8px;
  object-fit: cover;
}

.clubName {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
  text-align: center;
}
