.container {
  min-height: 100vh;
  padding-bottom: 3.75rem;
  background-color: var(--color-bg-primary);
}

.content {
  display: flex;
  flex-direction: column;
}

.tabGroup {
  display: flex;
  flex-direction: row;
}

.tab {
  width: 50%;
  padding: 1.5rem 0;
  border: none;
  border-bottom: 3px solid var(--color-bg-secondary);
  text-align: center;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
  background-color: var(--color-black);
}

.activeTab {
  width: 50%;
  padding: 1.5rem 0;
  border: none;
  border-bottom: 3px solid var(--color-brand-base);
  text-align: center;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
  background-color: var(--color-black);
}

.searchBarWrapper {
  padding: 1rem;
}

.searchInput {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
  background-color: var(--color-bg-tertiary);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.resultItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  color: var(--color-text-primary);
}

.infoSecondary {
  font-size: var(--font-size-xs);
}

.actionButton {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-brand-base);
  border-radius: 99px;
  font-size: var(--font-size-xs);
  color: var(--color-brand-base);
  background-color: var(--color-bg-primary);
}
